@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%); 

    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
} 

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0 2rem 0;
}

.header .read-all {
    color: var(--dark-grayish-blue);
}

.header .read-all:hover {
    color: var(--blue);
}

.header-infos {
    display: flex;
}

.header-infos span:first-child {
    color: var(--very-dark-blue);
    font-weight: 800;
    margin-right: .75rem;
}

.header-infos #notifications-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 1.5rem;
    background-color: var(--blue);
    color: var(--white);
    border-radius: .5rem;
}

.container {
    max-width: 46rem;
    padding: 0 1.125rem;
}

.notification {
    margin-bottom: 3rem;
}

.notification img {
    height: 2.375rem;
    width: 2.375rem;
    margin-right: 1rem;
}

.notification-paragraph {
    display: flex;
}

.notification-paragraph .profile-name {
    color: var(--very-dark-blue);
    font-size: .875rem;
    font-weight: 800;
}

.notification-paragraph .profile-name:hover {
    color: var(--blue);
    transition: ease .3s;
}

.notification-paragraph p {
    color: var(--dark-grayish-blue);
    font-size: .875rem;
}

.notification-paragraph .posts {
    color: var(--dark-grayish-blue);
    font-size: .875rem;
    font-weight: 800;
}

.notification-paragraph .posts:hover {
    color: var(--blue);
    transition: ease .3s;
}

.paragraph .time {
    color: var(--grayish-blue);
    font-size: .875rem;
    margin-top: .25rem;
}

.paragraph .time-c {
    color: var(--grayish-blue);
    font-size: .875rem;
    margin-top: .35rem;
}

.private-message {
    background-color: var(--white);
    border-radius: .5rem;
    border: 1px solid var(--light-grayish-blue-2);
    padding: 1rem 2rem 1rem 1rem;
    margin: .75rem 0 2.5rem 3.5rem;
    font-size: .875rem;
}

.private-message:hover {
    background-color: var(--light-grayish-blue-1);
    cursor: pointer;
}

.private-message p {
    color: var(--dark-grayish-blue);
}

.red-dot {
    display: inline-block;
    background-color: var(--red);
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    margin-left: .5rem;
}

.read-notifications {
    margin: 0 0 0rem .75rem;
}

.unread-notification {
    display: block;
    margin-left: .75rem;
}

.unread-bg {
    background-color: var(--very-light-grayish-blue);
    padding: 1rem .75rem;
    border-radius: .5rem;
    margin: 0 0 .75rem 0;
}

.chess {
    display: flex;
}

.chess img {
    margin: 0 0 0 2rem;
}

